$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';


$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;


body {
  background-color: $background-color;
  color: $font-color;
}

.box {
  border: 1px solid $white;
}

.cell {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  vertical-align: middle;
}

.cellZero {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  vertical-align: middle;
}
.cellOne {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  vertical-align: middle;
}
.cellTwo {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  vertical-align: middle;
}
.cellThree {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  vertical-align: middle;
}
.cellFour {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  vertical-align: middle;
}
.cellFive {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  vertical-align: middle;
}
.cellSix {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  vertical-align: middle;
}
.cellSeven {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  vertical-align: middle;
}
.cellEight {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  vertical-align: middle;
}

.madeby {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
}
